<div class="text-center py-16">
  <div class="text-6xl mb-4">🔍</div>
  <p class="text-xl text-base-content/70">
    <%= @message %>
    <% if @query.present? %>
      "<%= @query %>"
    <% end %>
  </p>
</div>
