<div data-controller="admin--search"
     data-admin--search-url-value="<%= url %>"
     data-admin--search-debounce-value="300">
  <%= form_with url: url, method: :get, data: { turbo_frame: turbo_frame, admin__search_target: "form" } do %>
    <label class="input input-bordered flex items-center gap-2">
      <%= text_field_tag param, value,
          placeholder: placeholder,
          class: "grow",
          autocomplete: "off",
          data: {
            admin__search_target: "input",
            action: "input->admin--search#search"
          } %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-70" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </label>
  <% end %>
</div>
