<% content_for :title, "Albums Ranking Configurations" %>

<div class="space-y-6">
  <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
    <div>
      <h1 class="text-3xl font-bold">Albums Ranking Configurations</h1>
      <p class="text-sm text-base-content/70 mt-1">Manage album ranking configurations and algorithms</p>
    </div>
    <div class="flex gap-2">
      <%= link_to new_admin_albums_ranking_configuration_path, class: "btn btn-primary" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        <span>New Ranking Configuration</span>
      <% end %>
    </div>
  </div>

  <% if params[:q].blank? %>
    <div class="flex gap-2">
      <%= button_to "Bulk Calculate Weights",
          index_action_admin_albums_ranking_configurations_path(action_name: "BulkCalculateWeights"),
          method: :post,
          class: "btn btn-sm btn-outline",
          data: { turbo_confirm: "This will recalculate weights for all ranked lists in selected configurations. Continue?" } %>
    </div>
  <% end %>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body p-0">
      <%= turbo_frame_tag "ranking_configurations_table" do %>
        <%= render "table", ranking_configurations: @ranking_configurations, pagy: @pagy %>
      <% end %>
    </div>
  </div>
</div>
