<% content_for :title, "New Song" %>

<div class="space-y-6">
  <div class="flex items-center gap-2">
    <%= link_to admin_songs_path, class: "btn btn-ghost btn-sm btn-circle" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    <% end %>
    <h1 class="text-3xl font-bold">New Song</h1>
  </div>

  <%= render "form" %>
</div>
