@import "tailwindcss" source(none);
@import "./paging.css";
@source "../../../../public/*.html";
@source "../../../../app/helpers/**/*.rb";
@source "../../../../app/javascript/**/*.js";
@source "../../../../app/views/**/*";
@source "../../../../app/components/**/*";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, abyss;
}